<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">


    <listeners>
        <listener class-name="com.pravin.automation.listeners.TestListener"/>
    </listeners>

    <test name="Regression Tests" parallel="methods" thread-count="2">

        <classes>

            <class name="com.pravin.automation.tests.LoginTestwith_JSON"/>
            <class name="com.pravin.automation.tests.QAPractice_TextinputPage_Test"/>
            <class name="com.pravin.automation.tests.ButtonPageTest"/>
            <class name="com.pravin.automation.tests.LoginTestwith_Excel"/>
            <class name="com.pravin.automation.tests.LoginTestWithMap"/>
            <class name="com.pravin.automation.tests.MouseEventTest"/>
            <class name="com.pravin.automation.tests.QAPractice_ButtonsTest"/>
            <class name="com.pravin.automation.tests.QAPractice_SingleCheckboxesTest"/>


        </classes>

    </test>

</suite>

